In [293]:
import pandas as pd
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
from mpl_toolkits.basemap import Basemap
from util import *
import warnings
warnings.filterwarnings("ignore")

In [235]:
data_2009 = pd.read_csv("data/2009_grouped.csv")
data_2009.head()

   month  day_of_week airline origin dest  num_of_flights  avg_delay
0      1            0      9E    ABE  DTW               8   3.875000
1      1            0      9E    ATL  AUS               7  -2.571429
2      1            0      9E    ATL  BHM               1  35.000000
3      1            0      9E    ATL  BNA               6  -4.833333
4      1            0      9E    ATL  BUF               4   7.750000

In [236]:
G_2009 = create_graph(data_2009)

In [291]:
def gini_coef(G):
    deg_dist = np.array(list(dict(G.degree(weight="num_of_flights")).values()))
    res = 0
    for i in deg_dist:
        res += np.abs(deg_dist - i).sum()
    return res / G.number_of_nodes() / deg_dist.sum()

In [310]:
G_2009.nodes

NodeView(('ABE', 'ATL', 'CLE', 'CLT', 'DTW', 'FLL', 'MCO', 'ORD', 'ABI', 'DFW', 'ABQ', 'AMA', 'BUR', 'BWI', 'DAL', 'DEN', 'ELP', 'HOU', 'IAD', 'IAH', 'LAS', 'LAX', 'LBB', 'MAF', 'MCI', 'MDW', 'MSP', 'OAK', 'PDX', 'PHX', 'SAN', 'SEA', 'SFO', 'SLC', 'STL', 'TPA', 'TUS', 'ABY', 'ACK', 'JFK', 'ACT', 'ACV', 'CEC', 'SMF', 'ACY', 'ADK', 'ANC', 'ADQ', 'AEX', 'MEM', 'AGS', 'CAE', 'AKN', 'ALB', 'CVG', 'DCA', 'EWR', 'PHL', 'ALO', 'BET', 'CDV', 'DLG', 'FAI', 'HNL', 'JNU', 'OGG', 'OME', 'OTZ', 'SCC', 'ASE', 'ATW', 'AUS', 'AVL', 'AVP', 'BDL', 'BHM', 'BIL', 'BKG', 'BMI', 'BNA', 'BOI', 'BOS', 'BQK', 'BTR', 'BTV', 'BUF', 'BZN', 'CAK', 'CHA', 'CHO', 'CHS', 'CID', 'CMH', 'COS', 'CRW', 'CSG', 'DAB', 'DAY', 'DHN', 'DSM', 'EGE', 'EVV', 'EWN', 'EYW', 'FAY', 'FCA', 'FLO', 'FNT', 'FSD', 'FSM', 'FWA', 'GNV', 'GPT', 'GRK', 'GRR', 'GSO', 'GSP', 'GTR', 'GUC', 'HDN', 'HPN', 'HSV', 'ICT', 'ILM', 'IND', 'JAC', 'JAN', 'JAX', 'LAW', 'LEX', 'LFT', 'LGA', 'LIT', 'LNK', 'LWB', 'LYH', 'MDT', 'MEI', 'MGM', 'MHT', 'MIA', 'MKE', 'MLB', 'MLI', 'MLU', 'MOB', 'MSN', 'MSY', 'MTJ', 'MYR', 'OAJ', 'OKC', 'OMA', 'ONT', 'ORF', 'PBI', 'PFN', 'PHF', 'PIA', 'PIT', 'PNS', 'PVD', 'PWM', 'RDU', 'RIC', 'RNO', 'ROA', 'ROC', 'RSW', 'SAT', 'SAV', 'SBN', 'SDF', 'SGF', 'SHV', 'SJC', 'SJU', 'SNA', 'SRQ', 'STT', 'STX', 'SWF', 'SYR', 'TLH', 'TRI', 'TUL', 'TYS', 'VLD', 'VPS', 'XNA', 'HRL', 'LGB', 'AZO', 'BFL', 'BGM', 'BGR', 'BIS', 'BJI', 'BLI', 'GEG', 'MFR', 'BQN', 'BRO', 'BRW', 'BTM', 'ISP', 'CDC', 'YAK', 'CIC', 'RDD', 'CLD', 'CLL', 'CMI', 'CMX', 'COD', 'CPR', 'GCC', 'CRP', 'HTS', 'CWA', 'DBQ', 'PLN', 'DRO', 'EUG', 'FAR', 'FAT', 'GJT', 'GTF', 'HLN', 'IDA', 'KOA', 'LIH', 'MRY', 'MSO', 'PSC', 'PSP', 'RAP', 'RDM', 'RKS', 'SBA', 'TVC', 'GGG', 'LCH', 'LRD', 'MFE', 'MHK', 'ROW', 'SAF', 'SJT', 'SPS', 'TXK', 'TYR', 'DLH', 'ELM', 'ERI', 'GRB', 'ITH', 'LAN', 'LSE', 'MBS', 'RST', 'SCE', 'TOL', 'EKO', 'FLG', 'GFK', 'MQT', 'GST', 'ITO', 'IPL', 'YUM', 'IYK', 'PIR', 'PSE', 'KTN', 'PSG', 'SIT', 'WRG', 'OXR', 'SBP', 'SGU', 'SMX', 'LMT', 'LWS', 'MOD', 'MOT', 'RHI', 'SUX', 'MWH', 'SPI', 'OTH', 'TEX', 'PIH', 'SUN', 'TWF', 'WYS'))

In [334]:
for i in G_2009.nodes():
    for j in list(G_2009.neighbors(i)):
        print(G_2009.get_edge_data(j,i, 'num_of_flights'))#['num_of_flights'])
    break

{'num_of_flights': 785}
{'num_of_flights': 509}
{'num_of_flights': 397}
{'num_of_flights': 990}
{'num_of_flights': 62}
{'num_of_flights': 125}
{'num_of_flights': 1168}

In [330]:
G_2009_di = G_2009.to_undirected()

In [333]:
G_2009_di.get_edge_data("ATL", "ABE")

{'num_of_flights': 785}

In [314]:
data_2009 = data_2009.groupby(["origin", "dest"]).sum().reset_index()
data_2009[data_2009.origin == "ABE"]

  origin dest  month  day_of_week  num_of_flights    avg_delay
0    ABE  ATL    476          231             785  1221.595005
1    ABE  CLE    444          231             508  -451.347258
2    ABE  CLT    494          261             397   -91.733333
3    ABE  DTW    476          231             989   -41.501376
4    ABE  FLL    159           72              62   171.616667
5    ABE  MCO    258           75             125   123.483333
6    ABE  ORD    863          416            1168   717.857504

In [304]:
average_shortest_path_length(G_2009)

2.350355016032982